.card {
    width: 200px; 
    border: 1px solid #ddd; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    font-family: Arial, sans-serif; /* font familyi chatten yardım aldım overflow hidden bugün senle Pair olduğumuzda öğrenmiştim box shadow cihan abi ile ilk taskta vardı */
  }
  
  .card img {
    width: 100%; 
    height: auto; /* height auto yine bugün senle pair oldugumuzdan */
  }
  
  .card-title {
    padding: 16px;
    background-color: #f8f8f8;  /* bunlar zaten klasik css kodları  sabah pairken title bold olsun demiştik */
    font-size: 18px;
    font-weight: bold;
  }
  
  .product-price {
    padding: 0 16px 16px 16px;  /* padding değerleri acayip kaydı çok hafif chate sordum :( özür dilerim yine dayanamadım :D */
    color: #888; 
    font-size: 16px;
  }
  